%header.info
  =link_to @version.name, versions_path(:version_uid=>current_version.id), :class => "currentversion"
  %h2#chapter.title
    = @chapter.parent.book.name
    = @chapter.chapter
  .nav.top
    -if @chapter.previous
      = link_to chapter_path(@chapter.previous.chapter.id), {:class => "previous"} do
        %i.icon-chevron-left
        / =@chapter.previous.chapter.name
    -if @chapter.next
      = link_to chapter_path(@chapter.next.chapter.id), {:class => "next"} do
        / =@chapter.next.chapter.name
        %i.icon-chevron-right

#chapter.scripture
  =raw @chapter.text

#chapter.crossreference
  -if @chapter.crossreferences
    %hr
    %ul.crossreference
      -@chapter.crossreferences.each do |xref|
        %li.crossreference
          = raw xref.crossreference.content

#chapter.footnote
  -if @chapter.footnotes
    %hr
    %ul.footnote
      -@chapter.footnotes.each do |fn|
        %li.footnote
          =raw fn.footnote.content

.nav.bottom
  -if @chapter.previous
    = link_to chapter_path(@chapter.previous.chapter.id), {:class => "previous"} do
      %i.icon-chevron-left
      / =@chapter.previous.chapter.name
  -if @chapter.next
    = link_to chapter_path(@chapter.next.chapter.id), {:class => "next"} do
      / =@chapter.next.chapter.name
      %i.icon-chevron-right

#copyright
  =raw @chapter.copyright

#fums
  =raw @fums
